body {
    margin: 0;
}

/* Logo */
.logo-wrapper {
    overflow: hidden;
    margin: 0;
}

.logo-wrapper > img {
    width: auto;
    height: 100%;
    object-fit: cover;
}
/* Logo */

.row {
    display: flex;
    flex-direction: row;
}

.row .flex-fill {
    flex: 1 1 auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-0\.5 {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.my-2 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mb-0\.5 {
    margin-bottom: 0.125rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.75rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mt-0\.5 {
    margin-top: 0.125rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.ps-2 {
    padding-left: 0.5rem;
}

.flex-column {
    flex-direction: column !important;
}

.d-flex {
    display: flex !important;
}

/* Text Style */
p {
    font-size: 14px;
    font-weight: 400;
    font-family: Gilroy-Regular, sans-serif;
    line-height: 21px;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: 0;
}

p.title {
    font-family: Gilroy-Bold, sans-serif;
}

p.subtitle {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-start {
    text-align: left !important;
}

/* Text Style */

/* Table Style */
table.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0.5rem;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

table.table thead tr th {
    background-color: #ecefff;
    border-bottom: 1px #dad9d9 solid;
    padding: 8px 16px;
}

table.table tbody tr td {
    padding: 8px 16px;
    border-bottom: 1px #dad9d9 solid;
}

table.table tbody tr:last-child td {
    border-bottom: none;
}

table.table tfoot tr td {
    background-color: #f3f3f3;
    padding: 8px 16px;
    border-bottom: 1px #dad9d9 solid;
}

table.table tfoot tr:last-child td {
    border-bottom: none;
}
/* Table Style */

.divider-thin {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: auto;
    height: 0;
    border-bottom: 1px #dad9d9 solid;
}

.divider-thick {
    width: auto;
    height: 0;
    border-bottom: 8px #ecefff solid;
}

.root-padding {
    padding: 24px 32px;
}
